
body {
    background-color: rgba(85, 19, 90, 0.290);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
    background-color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    height: 600px;
}

.tipo-lista {
    list-style-type: none;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 5px;

}

.tipo-lista > li {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(237, 243, 238)

}